
<div class="well">
  <h3>Gestión del proyecto</h3>
  <div> <%= link_to "Gestionar Provincias", provis_path %> </div>
  <div> <%= link_to "Gestionar Escuelas", escuelas_path %> </div>
  <div> <%= link_to "Gestionar Docentes", docentes_path %> </div>
  <div> <%= link_to "Gestionar Obras", posts_path %> </div>
</div>

<%= link_to 'New Provi', new_provi_path %>
<%= link_to 'New Docente', new_docente_path %>
<%= link_to 'New Escuela', new_escuela_path %>
<%= link_to 'New Post', new_post_path %>
