<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :obra %><br />
    <%= f.text_field :obra %>
  </div>
  <div class="field">
    <%= f.label :autor1 %><br />
    <%= f.text_field :autor1 %>
  </div>
  <div class="field">
    <%= f.label :autor2 %><br />
    <%= f.text_field :autor2 %>
  </div>
  <div class="field">
    <%= f.label :autor3 %><br />
    <%= f.text_field :autor3 %>
  </div>
  <div class="field">
    <%= f.label :autor4 %><br />
    <%= f.text_field :autor4 %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_area :codigo %>
  </div>
  <div class="field">
    <%= f.label :escuela_id %><br />
    <%= f.number_field :escuela_id %>
    <%= render 'listaesc' %>
  </div>
  <div class="field">
    <%= f.label :curso %><br />
    <%= f.text_field :curso %>
  </div>
  <div class="field">
    <%= f.label :docente_id %><br />
    <%= f.number_field :docente_id %>
    <%= render 'listadoc' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
