<%= form_for(@provi) do |f| %>
  <% if @provi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provi.errors.count, "error") %> prohibited this provi from being saved:</h2>

      <ul>
      <% @provi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prov %><br />
    <%= f.text_field :prov %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
